@charset "UTF-8";

body {
    background-color: lightsteelblue;
}

header {
    text-align: center;
}

section {
    display: block;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.411);
    padding: 20px;
    width: 30%;
    margin: auto;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.349);
}

input {
    margin-top: 15px;
    width: 55%;
}

select {
    width: 100px;
}

#forms {
    text-align: center;
}

footer {
    text-align: center;
}